<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383199351925-b8iv900a6ioira9t7a19m6oethmm8hos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383199351925-b8iv900a6ioira9t7a19m6oethmm8hos</string>
	<key>API_KEY</key>
	<string>AIzaSyDz7qvHAYX2FezcnlZP4aZxynmHIBM4OT4</string>
	<key>GCM_SENDER_ID</key>
	<string>383199351925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>freya.FirebaseExercise</string>
	<key>PROJECT_ID</key>
	<string>fir-exercise-ecdde</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-exercise-ecdde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383199351925:ios:e0d5c0d37c0768767bd43c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-exercise-ecdde.firebaseio.com</string>
</dict>
</plist>